/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

  
html {
  scroll-behavior: smooth; 
}
body {
  background-color:rgb(81, 12, 51);
  margin: 0px; 
  text-align: center;

}
/* @media screen and (max-width:769) {} */

#access-menu div:nth-child(1){
display: flex;
  justify-content: flex-start;
}
#access-menu div:nth-child(2){
  background-color: rgb(81, 12, 51);
  color: white;
  display: flex;
  justify-content: flex-end;
}

#button-search{
   background-color: rgb(81, 12, 51);
   position:relative;
   top: 0px;
   right: 0px;
   border-style:none;
}
#button-menu{
   background-color: rgb(81, 12, 51);
   justify-content:right;
   top: 0px;
   right: 0px;
    border-style:none;
}


#main-header {
color: white;
 padding: 30px;

}

#main-header div div{
   display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

#main-header button:nth-child(1){
  background-color: white;  
  border-style: none;
  border-radius: 5px; 
  width:100%;
  height:50px;
}
#main-header button:nth-child(2){
  background-color: rgb(90, 142, 246);
  border-style: none;
  border-radius: 5px;
  color:white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 50px;
  margin: 20px;
}

#main-header div p span {
    color: rgb(235, 211, 26);
}


#email-signup{
display: flex;
flex-direction: column;
justify-content: center;

}

#google-signup{
display: flex;
flex-direction: column;
align-items: center;
background-color: rgb(130, 130, 245);
}
.companies{
  background-color: rgb(247, 245, 237);
 padding-bottom: 30px;
}
.companies div img{
 width: 100px;

}
.companies p{
  align-items: center;
  padding: 20px;
}

.section_team{
  background-color: white;
  margin:0px;
  padding: 20px 70px 20px 70px;
}

.section_team h3 {
  color:rgb(81, 12, 51) ;
  font-size:x-large;
}

.section_team ul span {
    color:rgb(81, 12, 51);
    font-size:xx-large;
    font-weight: bolder;
}

.section_team ul{
  list-style: none;
  font-weight: bold;
}

#footer{
  background-color: white;
 
}
#footer ul {
  list-style: none;
  text-align: left;
  padding: 20px;

}
#footer1 li:nth-child(14){
  color:blue;
}


#welcome div{
  display: flex;
  flex-direction:row;
  justify-content: center;
}
#welcome h3{
  color: white;
}

#welcome div button{
border-radius: 5px;
width: 100%;
height:50px;
margin:10px;
}



#social-media{
   display: flex;
  justify-content: space-between; 
  align-items: center;   
}

#copyRight{
  padding-bottom: 30px;
}


@media screen and (min-width: 769px) and (max-width: 1023px) {
#main-header{
   display:flex;
  flex-direction:row;
  padding: 30px;
}

#footer1{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
}